body
{
    margin: 50px;
   background-color: #FFE8D6;
}

h1
{
   color: #6B705C;
   font-family: 'Dancing Script', cursive;
   
}
h2
{
   color: #A5A58D;
   font-family: 'Titan One', cursive
   
}

spam1
{
    padding-left: 50%;
    border: 1px #B7B7A4;
}

